<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374233244738-tqui45njg25kb9qliqfp3eg2p3nqf57h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374233244738-tqui45njg25kb9qliqfp3eg2p3nqf57h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>374233244738-oj8niseegc7f4ss3e7r8gp03mjbgake0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-cIMXU8FNYZVl0kbgA5ZHhBuVNtvx4sE</string>
	<key>GCM_SENDER_ID</key>
	<string>374233244738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.pedidolisto.pedido-listo-web</string>
	<key>PROJECT_ID</key>
	<string>dev-pedidolisto</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-pedidolisto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374233244738:ios:b6be83c64f895a251439db</string>
</dict>
</plist>